@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Scrollbar Styles */
  ::-webkit-scrollbar {
    @apply w-2
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700/50 rounded-full
  }

}